# This workflow runs by manual dispatch
name: Sync Github Project
on:
  schedule:
    - cron: '0 2 * * *'
  workflow_dispatch:

jobs:
  sync_crs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: npm install

      - name: Get space data
        env:
          GITBOOK_API_TOKEN: ${{ secrets.GITBOOK_API_TOKEN }}
        run: node src/get-spaces.mjs

      - name: Get project data
        env:
          GH_TOKEN: ${{ secrets.GH_PROJECT_TOKEN }}
          ORGANIZATION: bellingcat
          PROJECT_NUMBER: 6
        run: |
          ./src/ghproject_data.bash $ORGANIZATION $PROJECT_NUMBER > project_data.json
          echo 'PROJECT_ID='$(jq '.data.organization.projectV2.id' project_data.json) >> $GITHUB_ENV

      # Downloads all items from the project and adds missing ones
      - name: Add missing project items
        env:
          GH_TOKEN: ${{ secrets.GH_PROJECT_TOKEN }}
        run: |
          ./src/ghproject_fetch.bash $PROJECT_ID > project_items.json
          node src/ghproject_missing_items.mjs project_items.json | src/ghproject_add.bash

      # Downloads all items from the project and updates them
      - name: Update project items
        env:
          GH_TOKEN: ${{ secrets.GH_PROJECT_TOKEN }}
          GITBOOK_API_TOKEN: ${{ secrets.GITBOOK_API_TOKEN }}
        run: |
          ./src/ghproject_fetch.bash $PROJECT_ID > project_items.json
          node src/ghproject.mjs project_data.json project_items.json | src/ghproject_update.bash

