# This workflow runs by manual dispatch
name: Sync Github Project
on:
  schedule:
    - cron: '0 2 * * *'
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    env:
      PROJECT_DATA_JSON: project_data.json
      PROJECT_ITEMS_JSON: project_items.json
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: npm install

      - name: Get space data
        env:
          GITBOOK_API_TOKEN: ${{ secrets.GITBOOK_API_TOKEN }}
        run: node src/get-spaces.mjs

      - name: Get project data
        env:
          GH_TOKEN: ${{ secrets.GH_PROJECT_TOKEN }}
          ORGANIZATION: bellingcat
          PROJECT_NUMBER: 6
        run: |
          ./src/ghproject_data.bash $ORGANIZATION $PROJECT_NUMBER > $PROJECT_DATA_JSON
          echo 'PROJECT_ID='$(jq '.data.organization.projectV2.id' $PROJECT_DATA_JSON) >> $GITHUB_ENV

      # Downloads all items from the project and adds missing ones
      - name: Add missing project items
        env:
          GH_TOKEN: ${{ secrets.GH_PROJECT_TOKEN }}
        run: |
          ./src/ghproject_fetch.bash $PROJECT_ID > $PROJECT_ITEMS_JSON
          node src/ghproject_missing_items.mjs $PROJECT_ITEMS_JSON | src/ghproject_add.bash

      # Downloads all items from the project and updates them
      - name: Update project items
        env:
          GH_TOKEN: ${{ secrets.GH_PROJECT_TOKEN }}
          GITBOOK_API_TOKEN: ${{ secrets.GITBOOK_API_TOKEN }}
        run: |
          ./src/ghproject_fetch.bash $PROJECT_ID > $PROJECT_ITEMS_JSON
          node src/ghproject.mjs $PROJECT_DATA_JSON $PROJECT_ITEMS_JSON | src/ghproject_update.bash

